$green-color: rgb(54, 145, 97);

html{
  font-size: 100%;
  background-color: black;
}

body{
  margin: 0 16% 1% 16%;
  background-image: linear-gradient(to left, rgb(0, 0, 0) 40%, rgb(10, 10, 10) 70%, rgb(0, 0, 0));
}